body {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

main {
    padding: 0px;
    margin-bottom: 10px
}


footer {
    position: fixed;
    padding-top: 10px;
    height: 30px;
    width: 100%;
    bottom: 0;
    background-color: burlywood;
    text-align:center;
}

img {
    height: 250px;
    margin-left:auto;
    margin-right:auto;
}

.link{
    color:white;
}


a, a:visited {
    text-decoration: none;
    color: red;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px 10px 10px 10px;
    margin: 0 0 0 0;
    background-color: blanchedalmond;
}



.grid-container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
